<div class="container">
  <h1>Welcome to Sinatra!</h1>
<ul>
  <% @notes.each do |note| %>
  <li><%= note.title %><br><%= note.content %></li>
  <a href="/update/<%=note.id%>">Update</a>
  <a href="/delete">Delete</a>
  <%end%>
</ul>

<a href="/new">Create a Note</a>
</div>
