<div class="container">
  <h3>Update Note!</h3>
<form action="/update/<%=@note.id%>" method="post">
  <input type="hidden" name="_method" value="put" />
  <input type="text" name="title" value="<%=@note.title%>"><br>
  <input type="text" name="content" value="<%=@note.content%>"><br>
  <input type="submit" value="Update Note">
</form> 
</div>


